<body>
<br>
<br>
<br>
<h1 align= "center">Create Your New Question</h1>
  <form align="center" action="/questions" method="post">
    <style>
      body{
        background-color: lightblue
      }
    </style>

    <div>
      <label>Title</label>
      <br>
      <br>
      <input type="textarea" name="question[title]">
    </div><br>
    <br>

    <div>
      <label>Body</label>
      <br>
      <br>
      <textarea rows="4" cols="50" name="question[body]"></textarea>
    </div><br>

    <button type="submit">Create</button>
  </form>
</body>
