<h1>Create Your New Question</h1>
  <form action="/questions" method="post">

    <div>
      <label>Title:</label>
      <input type="textarea" name="question[title]">
    </div><br>

    <div>
      <label>Body:</label>
      <textarea rows="4" cols="50" name="question[body]"></textarea>
    </div><br>

    <button type="submit">Create</button>
  </form>
