<a href='/'>Homepage</a>
<h1>Sign Up, Fam</h1>
<form action="/users" method="post">
  <label>Name</label>
  <input type="text" name="user[name]"><br>
  <label>Email</label>
  <input type="email" name="user[email]"><br>
  <label>Password</label>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Sign Up">
</form>

<div>
  <iframe src="https://giphy.com/embed/3jN3GziOKUEmI" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/feeling-covfefe-3jN3GziOKUEmI"></a></p>
</div>
