<h2>Hey friend!</h2>
<form action="/sessions" method="post">
  <label>Email</label>
  <input type="text" name="user[email]"><br>
  <label>Password</label>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Log In">
</form>

<iframe src="https://giphy.com/embed/dVzGw6iFPYZ9K" width="480" height="394" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dVzGw6iFPYZ9K"></a></p>
