<footer>
  <iframe src="https://giphy.com/embed/sWrDT2OqxJ3Fu" width="280" height="153" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><a href="https://giphy.com/gifs/sWrDT2OqxJ3Fu"></a>
</footer>
<h1 align="center">Welcome to DB:Seed Overflow</h1>
<div class="questions">
  <% Question.all.each do |q| %>
    <a href="show question"><%= q.title %></a><br>
    Score: <%= q.votes.reduce(0) { |sum, vote| sum += vote.value } %><br>
    Answers: <%= q.answers.count %><br>
  <% end %>
</div>
