<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <a href='/'>Homepage</a>
  <% if logged_in? %>
    <h4>
      Hello, <%= current_user.name %> -
      <a href='/logout'>Logout</a> |
      <a href="/questions/new">Create Question</a> |
      <a href="users/<%= session[:user_id] %>">Profile</a>
    </h4>
  <% else %>
    <form action="/users" method="get">
      <input type="submit" value="Log In">
    </form>

    <form action="/users/new" method="get">
      <input type="submit" value="Sign Up">
    </form>
    <% end %>
    <%= yield%>
  </body>
  </html>
